
body, input {
    font-family: HK Grotesk, Helvetica Neue, sans-serif;
}

* {
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

$artist-bg-size: 400px;

$lola-red: #F75E12;
$light-slate: #F2F6FB;
$dark-slate: #889CB9;
$blue-black: #181B21;


h1,h2,h3,h4,h5,h6 {
    margin: 0;
}









.header {
width: 100%;
position: fixed;
padding: 10px 0px;
display: flex;
justify-content: space-between;
top: 0;
z-index: 99999;
background-size: $artist-bg-size;
background-position: top;
    .artist-page {
    background: transparent;
    }
    input {
    background: transparent;
    width: 100%;
        &::placeholder {
        color: white;
        }
        &:focus {
        
        }
    }
    &:hover {
        .search-x {
        background-image: url('../icons/x-white.svg');
        opacity: 1;
        transform: translateX(0px);
        }
    }
    
}

.input-block {
    height: 40px;
    border-radius: 10px;
    max-width: 100%;
    min-width: 200px;
    background: rgba(255,255,255,0.25);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
        &:hover {
            input {
                &::placeholder {

                }
                .search-icon {
                    background-image: url('../icons/search-white.svg');
                    fill: black;
                }
            }
        }

}

.input-block.input-focused {
    background: white;
    input {
        color: black;
        padding: 0 0 0 6px;
        &::placeholder {
            color: black;
        }
    }
    .search-icon {
        background-image: url('../icons/search-black.svg') !important;
        fill: black;
    }
    .search-x {
        background-image: url('../icons/x-black.svg') !important;
        transform: translateX(0px);
        opacity: 1;
    }
}


    
input {
    height: 100%;
    color: white;
    padding: 0 0 0 3px;
    font-size: 18px;
    border: none;
    background: #3e3e3e;
        &:focus {
        outline: none;
        }
}






.search-icon {
background-position: center;
background-size: 25px;
background-repeat: no-repeat;
width: 45px;
}

.search-x {
background-position: center;
background-size: 25px;
background-repeat: no-repeat;
width: 55px;
transform: translateX(70px);
// opacity: .5;
&:hover {
    transform: rotateZ(90deg);
}
}

.header-icon {
min-width: 60px;
height: 40px;
background-position: center;
background-size: 34px;
background-repeat: no-repeat;
cursor: pointer;
}


.artist-img-box {
width: 100%;
height: 450px;
height: 60vh;
background-size: cover;
overflow: hidden;
position: fixed;
top: 0;
z-index: -10;
}

.artist-nav-fader {
width: 100%;
height: 60px;
top: 0px;
z-index: -1;
background: rgba(24, 27, 33, 0.4);
position: fixed;
}

.artist-header-fader {
width: 100%;
height: 390px;
top: 60px;
background: rgba(24, 27, 33, 0.4);
position: absolute;
}

.artist-img {
width: 100%;
height: 450px;
height: 100%;
background-size: cover;
background-position: top;
background-size: $artist-bg-size;
}




.artist-page-content {
top: 250px;
top: 33vh;
position: relative;
}

.artist-header-info {
color: white;
position: relative;
padding: 0px 20px;
margin-bottom: 10px;
z-index: 5;
}



.artist-name {
font-size: 2.2em;
z-index: 10;
margin:0;
margin-bottom: 2px;
    &::after {
    content: url('../src-icons/verified.svg');
    height: 25px;
    width: 25px;
    margin-left: 7px;
    }
}

.artist-onTour {
color: $lola-red;
text-transform: uppercase;
letter-spacing: .1em;
margin-bottom: 2px;
}

.artist-shows {
color: white;
font-weight: 500;
}

.tab-box {
// display: flex;
height: 70px;
justify-content: flex-start;
padding: 0px 50px 0px 5px;
z-index: 10;
overflow-x: scroll;
overflow-y: hidden;
-webkit-overflow-scrolling: touch;
white-space: nowrap;
position: relative;
    
    .artist-tab {
    padding: 0px 10px;
    margin-right: 10px;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    vertical-align: middle;
    cursor: pointer;
    opacity: .7;
    &:hover {
        opacity: 1; 
    }
        .artist-tab-icon {
        height: 100%;
        width: 35px;
        background-repeat: no-repeat;
        background-size: 27px;
        background-position: center;
        }
        .artist-tab-name {
        color: white;
        font-size: 24px;
        font-weight: 700;
        align-self: center;
        margin-left: 2px;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 21px;
        }
    
    }
    .cur-tab {
        opacity: 1;
    }
    .cur-tab::after {
        content: '▾';
        color: white;
        font-size: 44px;
        position: absolute;
        transform: rotateZ(180deg);
        top: 40px;
        z-index: 10;
    }
}

.artist-page-fill {
    padding-bottom: 150px;
    background: $light-slate;
    position: relative;
    box-shadow: 0px -40px 180px black;
    z-index: -1;
}

.artist-fill-header {
    width: 100%;
    height: 55px;
    border: 2px solid $light-slate;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    h2 {
    position: relative;
    font-size: 20px;
    padding-left: 7px;
        &:before {
            content: '▾';
            margin: 0 6px 0 0;
        }
    }
    .artist-fill-header-calOp {
    border-radius: 100px;
    display: flex;
    border: 2px solid $light-slate;
    // width: 40%;
    max-width: 190px;
    height: 30px;
    padding: 0px 10px;
    align-items: center;
    &:hover {
        background: $light-slate;
    }
        h5 {
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 14px;
        white-space: nowrap;
        margin-top: 1px;
        }
        .calOp-icon {
            height: 17px;
            width: 17px;
            margin-right: 6px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            
        }
    }
}






.artist-page .nav-search-box {
    position: fixed;
    width: 100%;
    min-height: 100px;
    max-height: 100vh;
    background: $blue-black;
    z-index: -1;
    top: 0px;
    padding: 60px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    transform: translateY(-110%);
    

    // box-shadow: 0px 5px 60px rgba(0,0,0,0.4);
    .topbar {
        display: flex;
        height: 70px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        .search-filter {
            height: 40%;
            width: 40px;
            background-repeat: no-repeat;
            background-position: right;
            background-size: 30px;
        }
    }
    h4 {
        color: white;
        // margin: 0 auto;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: 500;
        padding-top: 1px;
    }

    
    
    .search-node {
        height: 95px;
        // border: 1px solid white;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0px 15px;
        position: relative;
        &:hover {
            background: lighten($blue-black, 10%);
        }
    }
    .search-node-img {
        height: 65px;
        width: 65px;
        min-height: 65px;
        min-width: 65px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
    }
    .search-node-info-box {
        width: 100%;
        padding: 7px 0px 5px 15px;
        height: 100%;
        position: relative;
    }
    .search-node-name {
        color: white;
        margin: 7px 0px 2px 0px;
    }
    .artist-onTour {
        font-size: 14px;
        color: $lola-red;
    }
    .artist-shows {
        font-size: 15px;
    }
   
}

.search-results-list {
    animation: fadeInDown .5s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 50px;
}

@keyframes fadeInDown {
    0% { transform: translateY(-10px); opacity: 0;}
    70% { transform: translateY(-3px); }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes dropDown {
    0% { transform: translateY(-110%);}
    70% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

.drop-down {
    animation: dropDown .4s ease-in-out;
    transform: translateY(0) !important;
    display: flex !important;
    .search-results-list {
        display: block;
        animation: fadeInDown .5s ease-in-out;
    }
}

@keyframes unDrop {
    0% { transform: translateY(0); display: flex;}
    30% { transform: translateY(-3px) }
    100% { transform: translateY(-110%); display: none !important;}
}

.un-drop {
    animation: unDrop .25s ease-in-out;
    transform: translateY(-110%);
    display: none;
    .search-results-list {
        animation: unDrop .25s ease-in-out;
        display: none;
    }
}





.artist-show-list {
display: flex;
flex-direction: column;
    .show-node {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 130px;
    background: white;
    position: relative;
    &:hover {
    background: $light-slate;
    }
    &:last-child .show-info-box {
        border-bottom: none;
    }


    }
    .show-date-box {
    width: 90px;
    height: 100%;
    padding: 15px 10px 10px 10px;
    text-align: center;
        .month {
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        .day {
            font-weight: 400;
        }
        .time {
            color: $dark-slate;
        }
    }
    .show-info-box {
    width: calc(100% - 50px);
    height: 100%;
    border-bottom: 2px solid $light-slate;
    padding: 14px 10px 10px 10px;
    position: relative;
        .venue {
        margin-bottom: 3px;
        }
        .location {
        color: $dark-slate;
        margin-bottom: 5px;
        font-weight: 500;
        }
        .lineUp {
        font-weight: 500;
        }
        .ticketStatus {
        text-transform: uppercase;
        letter-spacing: .1em;
        margin-top: 10px;
        }
        .soldOut {
        color: $lola-red;
        }
    }
}


.favorite-icon {
    position: absolute;
    right: 20px;
    top: 15px;
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: contain;
    align-self: center;
    display: flex;
    &:hover {
        background-image: url('../icons/heart-fill-red.svg') !important;
    }
}